@{
    ViewBag.Title = "DatalistColumnAttribute.Format";
}

<div class="panel panel-default">
    <div class="panel-heading">Format</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specified column value format.</pre>
        <strong>Defaults</strong>
        <pre><span class="kwrd">null</span></pre>
        <strong>Remarks</strong>
        <pre>Default <a href="/Datalist/API/GenericDatalist">GenericDatalist</a> implementation formats column values using this format in <span class="cls">String</span>.Format(<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>.Format, value)</pre>
        <strong>Examples</strong>
        <pre>
<span class="kwrd">public class</span> <span class="cls">UserModel</span>
{
    <span class="kwrd">public</span> <span class="cls">String</span> Id { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> FirstName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> LastName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>(4, Format = <span class="str">"{0:d}"</span>)]
    <span class="kwrd">public</span> <span class="cls">DateTime</span> DateOfBirth { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>(7, Relation = <span class="str">"LoginName"</span>)]
    <span class="kwrd">public</span> <span class="cls">AccountModel</span> Account { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }
}

DateOfBirth will be formatted as <a href="http://msdn.microsoft.com/en-us/library/az4se3k1(v=vs.110).aspx">date</a>.</pre>
    @Html.Datalist("Format1", null, new DefaultDatalist())
    </div>
</div>