@{
    ViewBag.Title = "DatalistColumns.Add()";
}

<div class="panel panel-default">
    <div class="panel-heading">Add()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Adds <a href="/Datalist/API/DatalistColumn">DatalistColumn</a> to a columns collection.</pre>
        <strong>Remarks</strong>
        <pre>Only non <span class="kwrd">null</span> columns with unique key, can be added to existing column collection.</pre>
    </div>
</div>