@{
    ViewBag.Title = "DatalistColumns.Clear()";
}

<div class="panel panel-default">
    <div class="panel-heading">Clear()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Removes all <a href="/Datalist/API/DatalistColumn">DatalistColumns</a> from current columns collection.</pre>
    </div>
</div>