@{
    ViewBag.Title = "DatalistColumns.Keys";
}

<div class="panel panel-default">
    <div class="panel-heading">Keys</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Returns an enumerable containg all <a href="/Datalist/API/DatalistColumn">DatalistColumn</a>.<a href="/Datalist/API/DatalistColumn/Key">Key</a> values.</pre>
        <strong>Defaults</strong>
        <pre>Empty enumerable.</pre>
    </div>
</div>