@{
    ViewBag.Title = "DatalistColumns.Remove()";
}

<div class="panel panel-default">
    <div class="panel-heading">Remove()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Removes <a href="/Datalist/API/DatalistColumn">DatalistColumn</a> from current columns collection.</pre>
        <strong>Remarks</strong>
        <pre>This method returns <span class="cls">Boolean</span> type value, indicating successful removal.</pre>
    </div>
</div>