@{
    ViewBag.Title = "MVC.Datalist installation";
}

<div class="widget docs">
    <div class="widget-header">
        <div class="fa fa-info"></div>
        <span>Installation</span>
    </div>
    <div class="widget-content">
        <p>
            Install MVC.Datalist package from nuget.
        </p>
        <pre>> Install-Package Datalist</pre>
        <p>
            Render datalist dialog's partial in the page.
        </p>
        <pre>
&lt;html&gt;
    &lt;body&gt;
<b class="install-note">+       @@Html.Partial("MvcDatalist/_Dialog")</b>

        @@RenderBody()
    &lt;/body&gt;
&lt;/html&gt;</pre>
        <p>
            Include datalist stylesheet to your page.
        </p>
        <pre>
&lt;html&gt;
    &lt;head&gt;
<b class="install-note">+       &lt;link href="~/Content/MvcDatalist/mvc-datalist.css" rel="stylesheet"&gt;</b>
    &lt;/head&gt;
    &lt;body&gt;
        @@Html.Partial("MvcDatalist/_Dialog")

        @@RenderBody()
    &lt;/body&gt;
&lt;/html&gt;</pre>
        <p>
            Include datalist scripts to your page.
        </p>
        <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;link href="~/Content/MvcDatalist/mvc-datalist.css" rel="stylesheet"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        @@Html.Partial("MvcDatalist/_Dialog")

        @@RenderBody()

<b class="install-note">+       &lt;script src="~/Scripts/MvcDatalist/mvc-datalist.js"&gt;&lt;/script&gt;</b>
    &lt;/body&gt;
&lt;/html&gt;</pre>
        <p>
            Initialize MVC.Datalist instances after rendering datalist html
        </p>
        <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;link href="~/Content/MvcDatalist/mvc-datalist.css" rel="stylesheet"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        @@Html.Partial("MvcDatalist/_Dialog")

        @@RenderBody()

        &lt;script src="~/Scripts/MvcDatalist/mvc-datalist.js"&gt;&lt;/script&gt;
        &lt;script&gt;
<b class="install-note">+           [].forEach.call(document.getElementsByClassName('datalist'), function(element) {</b>
<b class="install-note">+               new MvcDatalist(element);</b>
<b class="install-note">+           });</b>
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</pre>
    </div>
</div>
