@{
    ViewBag.Title = "MVC.Datalist installation";
}

<div class="docs content-block">
    <div class="widget">
        <div class="widget-header">
            <i class="fa fa-bars"></i>
            Installation
            <span class="widget-buttons">
                <i class="content-toggle"></i>
            </span>
        </div>
        <div class="widget-content">
            <p>
                Install MVC.Datalist package from nuget.
            </p>
            <pre>> Install-Package NonFactors.Datalist.Mvc5</pre>
            <p>
                Render datalist dialog's partial in layout page.
            </p>
            <pre>
&lt;html&gt;
    &lt;body&gt;
        <b>@@Html.Partial("MvcDatalist/_Dialog")</b>

        @@RenderBody()
    &lt;/body&gt;
&lt;/html&gt;</pre>
            <p>Include datalist stylesheet to your page.</p>
            <pre>
&lt;html&gt;
    &lt;head&gt;
        <b>&lt;link href="~/Content/MvcDatalist/mvc-datalist.css" rel="stylesheet"&gt;</b>
    &lt;/head&gt;
    &lt;body&gt;
        @@Html.Partial("MvcDatalist/_Dialog")

        @@RenderBody()
    &lt;/body&gt;
&lt;/html&gt;</pre>
            <p>
                Include datalist scripts after jQuery and jQueryUI scripts to your project and your page.
            </p>
            <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;link href="~/Content/MvcDatalist/mvc-datalist.css" rel="stylesheet"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        @@Html.Partial("MvcDatalist/_Dialog")

        @@RenderBody()

        &lt;script src="~/Scripts/JQuery/jquery.js"&gt;&lt;/script&gt;
        &lt;script src="~/Scripts/JQuery/jquery-ui.js"&gt;&lt;/script&gt;
        <b>&lt;script src="~/Scripts/MvcDatalist/mvc-datalist.js"&gt;&lt;/script&gt;</b>
    &lt;/body&gt;
&lt;/html&gt;</pre>
            <p>
                Initialize MVC.Datalist instances after rendering datalist html
            </p>
            <pre>
&lt;html&gt;
    &lt;head&gt;
        &lt;link href="~/Content/MvcDatalist/mvc-datalist.css" rel="stylesheet"&gt;
    &lt;/head&gt;
    &lt;body&gt;
        @@Html.Partial("MvcDatalist/_Dialog")

        @@RenderBody()

        &lt;script src="~/Scripts/JQuery/jquery.js"&gt;&lt;/script&gt;
        &lt;script src="~/Scripts/JQuery/jquery-ui.js"&gt;&lt;/script&gt;
        &lt;script src="~/Scripts/MvcDatalist/mvc-datalist.js"&gt;&lt;/script&gt;
        &lt;script&gt;
            <b>$('.datalist').datalist();</b>
        &lt;/script&gt;
    &lt;/body&gt;
&lt;/html&gt;</pre>
        </div>
    </div>
</div>
