@{
    ViewBag.Title = "DatalistExtensions.Autocomplete";
}

<div class="panel panel-default">
    <div class="panel-heading">Autocomplete</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Html helper for creating autocomplete based on datalist functionality.</pre>
        <strong>Remarks</strong>
        <pre>This method should be used on inputs which does not required datalist search dialog.</pre>
        <strong>Examples</strong>
        <pre>
Creates datalist autocomplete input with id <span class="str">"DatalistId"</span> and <span class="str">"example-class"</span> class, which is mapped with hidden input <span class="str">"Id"</span> with value of 1.
Autocomplete value <span class="str">"Tom"</span> is loaded automatically from the server's users table where user id = 1.

<span class="esc">@@</span>Html.Autocomplete(<span class="str">"Id"</span>, 1, <span class="kwrd">new</span> <span class="cls">DefaultDatalist</span>(), <span class="kwrd">new</span> { @@class = <span class="str">"example-class"</span> })</pre>
        <div class="autocomplete-group">
            @Html.AutoComplete("Id", 1, new DefaultDatalist(), new { @class = "example-class" })
        </div>
    </div>
</div>