@{
    ViewBag.Title = "Class: AbstractDatalist";
}

<div class="panel panel-default">
    <div class="panel-heading">AbstractDatalist</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Represents an abstract datalist structure.</pre>
        <div class="panel-properties">
            <h3>Constants</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/Prefix">Prefix</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/IdKey">IdKey</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/AcKey">AcKey</a>
                </li>
            </ul>

            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/Columns">Columns</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/DialogTitle">DialogTitle</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/DatalistUrl">DatalistUrl</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/AdditionalFilters">AdditionalFilters</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/DefaultSortOrder">DefaultSortOrder</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/DefaultSortColumn">DefaultSortColumn</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/DefaultRecordsPerPage">DefaultRecordsPerPage</a>
                </li>
            </ul>

            <h3>Methods</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/GetData">GetData()</a>
                </li>
            </ul>
        </div>
    </div>
</div>