@{
    ViewBag.Title = "Class: DatalistExtensions";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistExtensions</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Represents support for datalist input controls in an application.</pre>
        <div class="panel-properties">
            <h3>Methods</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistExtensions/Autocomplete">Autocomplete</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistExtensions/AutocompleteFor">AutocompleteFor</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistExtensions/Datalist">Datalist</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistExtensions/DatalistFor">DatalistFor</a>
                </li>
            </ul>
        </div>
    </div>
</div>