@{
    ViewBag.Title = "Class: DatalistColumnAttribute";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistColumnAttribute</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies that property should be used as visible datalist column.</pre>
        <div class="panel-properties">
            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistColumnAttribute/Format">Format</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistColumnAttribute/Position">Position</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistColumnAttribute/Relation">Relation</a>
                </li>
            </ul>
        </div>
    </div>
</div>