@{
    ViewBag.Title = "Class: DatalistData";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistData</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Represents data for <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>.<a href="/Datalist/API/AbstractDatalist/GetData">GetData()</a> method.</pre>
        <strong>Defaults</strong>
        <pre>Rows: Empty dictionary list.
Columns: <span class="kwrd">new</span> <a href="/Datalist/API/DatalistColumns">DatalistColumns</a>() instance.
FilteredRecords: 0</pre>
        <strong>Remarks</strong>
        <pre>Autocomplete and data table is dependant on <a href="/Datalist/API/DatalistData/Columns">Columns</a> and <a href="/Datalist/API/DatalistData/Rows">Rows</a>.
Data table pager is dependant on <a href="/Datalist/API/DatalistData/FilteredRecords">FilteredRecords</a>.
All properties must be filled for a datalist to work correctly.</pre>
        <div class="panel-properties">
            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistData/Rows">Rows</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistData/Columns">Columns</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistData/FilteredRecords">FilteredRecords</a>
                </li>
            </ul>
        </div>
    </div>
</div>