@{
    ViewBag.Title = "Class: DatalistAttribute";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistAttribute</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies default datalist type, which should be used for attributed property.</pre>
        <div class="panel-properties">
            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistAttribute/Type">Type</a>
                </li>
            </ul>
        </div>
    </div>
</div>