@{
    ViewBag.Title = "Class: DatalistFilter";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistFilter</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Represents filtering and sorting data for datalist.</pre>
        <strong>Defaults</strong>
        <pre>Page: 0
Id: <span class="kwrd">null</span>
SearchTerm: <span class="kwrd">null</span>
SortColumn: <span class="kwrd">null</span>
RecordsPerPage: 0
SortOrder: <a href="/Datalist/API/DatalistSortOrder">DatalistSortOrder</a>.<a href="/Datalist/DatalistSortOrder/Asc">Asc</a>
AdditionalFilters: Empty dictionary.</pre>
        <div class="panel-properties">
            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistFilter/Id">Id</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistFilter/Page">Page</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistFilter/SortOrder">SortOrder</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistFilter/SearchTerm">SearchTerm</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistFilter/SortColumn">SortColumn</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistFilter/AdditionalFilters">AdditionalFilters</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistFilter/RecordsPerPage">RecordsPerPage</a>
                </li>
            </ul>
        </div>
    </div>
</div>