@{
    ViewBag.Title = "Class: DatalistColumn";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistColumn</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Class for keeping information about datalist visible colum.</pre>
        <div class="panel-properties">
            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistColumn/Key">Key</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistColumn/Header">Header</a>
                </li>
                <li>
                    <a href="/Datalist/API/DatalistColumn/CssClass">CssClass</a>
                </li>
            </ul>
        </div>
    </div>
</div>