@{
    ViewBag.Title = "Class: DatalistColumns";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistColumns</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Class for keeping <a href="/Datalist/API/DatalistColumn">DatalistColumns</a>.</pre>
        <div class="panel-properties">
            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistColumns/Keys">Keys</a>
                </li>
            </ul>
            <h3>Methods</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/DatalistColumns/Add">Add()</a>
                </li>
                 <li>
                    <a href="/Datalist/API/DatalistColumns/Remove">Remove()</a>
                </li>
                 <li>
                    <a href="/Datalist/API/DatalistColumns/Clear">Clear()</a>
                </li>
            </ul>
        </div>
    </div>
</div>