@{
    ViewBag.Title = "Class: GenericDatalist";
}

<div class="panel panel-default">
    <div class="panel-heading">GenericDatalist</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Represents a generic version of <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a> with default implementation.</pre>
        <div class="panel-properties">
            <h3>Constants</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/GenericDatalist/Prefix">Prefix</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/IdKey">IdKey</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/AcKey">AcKey</a>
                </li>
            </ul>

            <h3>Properties</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/GenericDatalist/Columns">Columns</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/DialogTitle">DialogTitle</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/DatalistUrl">DatalistUrl</a>
                </li>
                <li>
                    <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/AdditionalFilters">AdditionalFilters</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/DefaultSortOrder">DefaultSortOrder</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/DefaultSortColumn">DefaultSortColumn</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/AttributedProperties">AttributedProperties</a>
                </li>
            </ul>

            <h3>Methods</h3>
            <ul>
                <li>
                    <a href="/Datalist/API/GenericDatalist/GetColumnKey">GetColumnKey()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/GetColumnHeader">GetColumnHeader()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/GetColumnCssClass">GetColumnCssClass()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/GetData">GetData()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/GetModels">GetModels()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/FilterById">FilterById()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/FilterBySearchTerm">FilterBySearchTerm()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/FilterByAdditionalFilters">FilterByAdditionalFilters()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/Sort">Sort()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/FormDatalistData">FormDatalistData()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/AddId">AddId()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/AddAutocomplete">AddAutocomplete()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/AddColumns">AddColumns()</a>
                </li>
                <li>
                    <a href="/Datalist/API/GenericDatalist/AddAdditionalData">AddAdditionalData()</a>
                </li>
            </ul>
        </div>
    </div>
</div>