@{
    ViewBag.Title = "DatalistFilter.AdditionalFilters";
}

<div class="panel panel-default">
    <div class="panel-heading">AdditionalFilters</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Property representing additional filter keys and values.</pre>
        <strong>Defaults</strong>
        <pre>Empty dictionary.</pre>
        <strong>Remarks</strong>
        <pre>This parameter must be filled by hand before using <a href="/Datalist/API/AbstractDatalist/GetData">GetData()</a> method.</pre>
        <strong>Examples</strong>
        <pre><span class="kwrd">public</span> ExampleDatalist()
{
    AdditionalFilters.Add(<span class="str">"AdditionalFilterId"</span>);
}
<span class="kwrd">public</span> <span class="cls">JsonResult</span> Example(<span class="cls">DatalistFilter</span> filter, <span class="cls">String</span> AdditionalFilterId)
{
    <span class="kwrd">var</span> additionalFilters = <span class="kwrd">new</span> Dictionary&lt;<span class="cls">String</span>, <span class="cls">Object</span>&gt;();
    additionalFilters.Add(<span class="str">"Id"</span>, AdditionalFilterId);

    <span class="kwrd">return</span> GetData(<span class="kwrd">new</span> <span class="cls">ExampleDatalist</span>(), filter, additionalFilters);
}</pre>
        <div class="input-group">
            <span class="input-group-addon">UserModel id</span>
            @Html.TextBox("AdditionalFilterId", 1, new { @class = "form-control" })
        </div>
        @Html.Datalist("AdditionalFilters2", null, new ExampleDatalist())
    </div>
</div>