@{
    ViewBag.Title = "DatalistFilter.RecordsPerPage";
}

<div class="panel panel-default">
    <div class="panel-heading">RecordsPerPage</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Property representing total filtered record count.</pre>
        <strong>Defaults</strong>
        <pre>0</pre>
        <strong>Remarks</strong>
        <pre>This variable shows how many records per page should be shown to user in datalist dialog window.
Autocomplete length is always 20.</pre>
        <strong>Examples</strong>
        <pre>Records per page can be changed in datalist dialog window.</pre>
        @Html.Datalist("RecordsPerPage1", null, new DefaultDatalist())
    </div>
</div>