@{
    ViewBag.Title = "DatalistFilter.SearchTerm";
}

<div class="panel panel-default">
    <div class="panel-heading">SearchTerm</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Property representing datalist's search term.</pre>
        <strong>Defaults</strong>
        <pre><span class="kwrd">null</span></pre>
        <strong>Remarks</strong>
        <pre>Search term will be passed either from autocomplete input or from search input in datalist dialog window.</pre>
        <strong>Examples</strong>
        <pre>On page load search term in autocomplete and datalit will be empty.</pre>
        @Html.Datalist("SearchTerm1", null, new DefaultDatalist())
    </div>
</div>