@{
    ViewBag.Title = "DatalistFilter.SortOrder";
}

<div class="panel panel-default">
    <div class="panel-heading">SortOrder</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Property representing sort order.</pre>
        <strong>Defaults</strong>
        <pre><a href="/Datalist/API/DatalistSortOrder">DatalistSortOrder</a>.<a href="/Datalist/DatalistSortOrder/Asc">Asc</a></pre>
        <strong>Remarks</strong>
        <pre>Sort order will be equal to <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>.<a href="/Datalist/API/AbstractDatalist/DefaultSortOrder">DefaultSortOrder</a> unless explicit sorting is specified.</pre>
        <strong>Examples</strong>
        <pre>Example showing default sorting order, unless specified explicitly.</pre>
        @Html.Datalist("SortOrder1", null, new DefaultDatalist())
    </div>
</div>