@{
    ViewBag.Title = "DatalistData.FilteredRecords";
}

<div class="panel panel-default">
    <div class="panel-heading">FilteredRecords</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Total count of filtered records.</pre>
        <strong>Defaults</strong>
        <pre>0</pre>
        <strong>Remarks</strong>
        <pre>It should be equal to all filtered records count and not the one which is actually returned to the ajax call. Because it is already paged.</pre>
        <strong>Examples</strong>
        <pre>So if we have 100 records in the database and after filtering it with our filter we are left with <strong>50</strong>.
FilteredRecords will be <strong>50</strong>. Even though we return 20 records.</pre>
    </div>
</div>