@model Person
@{
    ViewBag.Title = "Datalist browse";
}

<div class="row">
    <div class="widget example col">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Autocomplete</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content text-center">
            @Html.AutoComplete("Autocomplete", new PeopleDatalist())
            <br />
            <button id="AutocompleteButton" class="btn btn-secondary">Browse</button>
        </div>
    </div>
    <div class="widget example col">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Datalist</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content text-center">
            @Html.Datalist("Datalist", new PeopleDatalist())
            <br />
            <button id="DatalistButton" class="btn btn-secondary">Browse</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
@@Html.AutoCompleteFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())
</code>
</pre>
        </div>
    </div>
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
@@Html.DatalistFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())
</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
$(<span class="str">'button'</span>).on(<span class="str">'click'</span>, <span class="kwd">function</span>() {
    $(<span class="str">'#Id'</span>).datalist(<span class="str">'browse'</span>);
});
</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#AutocompleteButton').on('click', function () {
            $('#Autocomplete').datalist('browse');
        });

        $('#DatalistButton').on('click', function () {
            $('#Datalist').datalist('browse');
        });
    </script>
}
