@{
    ViewBag.Title = "Datalist readonly";
}

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Autocomplete</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.AutoComplete("Autocomplete", new PeopleDatalist() { ReadOnly = true }, 1)
                </div>
                <div class="col-xl-3">
                    <button id="AutocompleteButton" class="btn btn-secondary">Toggle readonly</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.AutoCompleteFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Datalist</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.Datalist("Datalist", new PeopleDatalist(), 5)
                </div>
                <div class="col-xl-3">
                    <button id="DatalistButton" class="btn btn-secondary">Toggle readonly</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.DatalistFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Multi datalist</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.Datalist("MultiDatalist", new PeopleDatalist() { Multi = true }, new [] { 3, 4 })
                </div>
                <div class="col-xl-3">
                    <button id="MultiDatalistButton" class="btn btn-secondary">Toggle readonly</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.DatalistFor(model => model.Ids, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>() { Multi = <span class="kwd">true</span> })</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-12">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>document.getElementById(<span class="str">'button'</span>).addEventListener(<span class="str">'click'</span>, <span class="kwd">function</span>() {
    <span class="kwd">var</span> datalist = <span class="kwd">new</span> MvcDatalist(document.querySelector(<span class="str">'.datalist'</span>));
    datalist.set({ readonly: !datalist.readonly });
});</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('AutocompleteButton').addEventListener('click', function () {
            var datalist = new MvcDatalist(document.getElementById('Autocomplete'));
            datalist.set({ readonly: !datalist.readonly });
        });

        document.getElementById('DatalistButton').addEventListener('click', function () {
            var datalist = new MvcDatalist(document.getElementById('Datalist'));
            datalist.set({ readonly: !datalist.readonly });
        });

        document.getElementById('MultiDatalistButton').addEventListener('click', function () {
            var datalist = new MvcDatalist(document.querySelector('.datalist[data-for="MultiDatalist"]'));
            datalist.set({ readonly: !datalist.readonly });
        });
    </script>
}
