@{
    ViewBag.Title = "Datalist reload";
}

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Autocomplete</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.AutoComplete("Autocomplete", new PeopleDatalist())
                </div>
                <div class="col-xl-3 text-center">
                    <button id="AutocompleteButton" class="btn btn-secondary">Randomize</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.AutoCompleteFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Datalist</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.Datalist("Datalist", new PeopleDatalist())
                </div>
                <div class="col-xl-3 text-center">
                    <button id="DatalistButton" class="btn btn-secondary">Randomize</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.DatalistFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-12">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>document.querySelector(<span class="str">'button'</span>).addEventListener(<span class="str">'click'</span>, <span class="kwd">function</span>() {
    <span class="kwd">var</span> element = document.getElementById(<span class="str">'Id'</span>);
    <span class="kwd">var</span> triggerChanges = <span class="kwd">true</span>;

    element.value = parseInt(Math.random() * 20) + 1;
    <span class="kwd">new</span> MvcDatalist(element).reload(triggerChanges);
});</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('AutocompleteButton').addEventListener('click', function () {
            var autocomplete = document.getElementById('Autocomplete');
            autocomplete.value = parseInt(Math.random() * 20) + 1;
            new MvcDatalist(autocomplete).reload();
        });

        document.getElementById('DatalistButton').addEventListener('click', function () {
            var datalist = document.getElementById('Datalist');
            datalist.value = parseInt(Math.random() * 20) + 1;
            new MvcDatalist(datalist).reload();
        });
    </script>
}
