@model Person
@{
    ViewBag.Title = "Datalist reload";
}

<div class="row">
    <div class="col-md-6">
        <div class="example content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-bars"></i>
                    Autocomplete
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content text-center">
                    @Html.AutoComplete("Autocomplete", new PeopleDatalist())
                    <br />
                    <button id="AutocompleteButton" class="btn btn-default">Select random person</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="example content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-bars"></i>
                    Datalist
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content text-center">
                    @Html.Datalist("Datalist", new PeopleDatalist())
                    <br />
                    <button id="DatalistButton" class="btn btn-default">Select random person</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    View
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
@@Html.AutocompleteFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    View
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
@@Html.DatalistFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="example-code content-block">
            <div class="widget">
                <div class="widget-header">
                    <i class="fa fa-code"></i>
                    Javascript
                    <span class="widget-buttons">
                        <i class="content-toggle"></i>
                    </span>
                </div>
                <div class="widget-content">
<pre>
<code>
$(<span class="str">'button'</span>).on(<span class="str">'click'</span>, <span class="kwd">function</span>() {
    <span class="kwd">var</span> triggerChanges = <span class="kwd">true</span>;
    $(<span class="str">'#Id'</span>).val(Math.random() * 20 + 1);

    $(<span class="str">'#Id'</span>).datalist(<span class="str">'reload'</span>, triggerChanges);
});
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
<script>
    $('#AutocompleteButton').on('click', function () {
        $('#Autocomplete').val(parseInt(Math.random() * 20) + 1);
        $('#Autocomplete').datalist('reload');
    });

    $('#DatalistButton').on('click', function () {
        $('#Datalist').val(parseInt(Math.random() * 20) + 1);
        $('#Datalist').datalist('reload');
    });
</script>
}