@{
    ViewBag.Title = "Datalist select first";
}

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Datalist</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-9">
                    @Html.Datalist("Datalist", new PeopleDatalist())
                </div>
                <div class="col-xl-3 text-center">
                    <button id="Button" class="btn btn-secondary">Select first</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.DatalistFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-12">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>document.querySelector(<span class="str">'button'</span>).addEventListener(<span class="str">'click'</span>, <span class="kwd">function</span> () {
    <span class="kwd">var</span> triggerChanges = <span class="kwd">true</span>;

    <span class="kwd">new</span> <span class="cls">MvcDatalist</span>(document.getElementById(<span class="str">'Id'</span>)).selectFirst(triggerChanges);
});</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('Button').addEventListener('click', function () {
            new MvcDatalist(document.getElementById('Datalist')).selectFirst();
        });
    </script>
}
