@{
    ViewBag.Title = "Datalist select single";
}

<div class="row">
    <div class="widget example col-xl-6">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Datalist</span>
        </div>
        <div class="widget-content">
            <div class="row">
                <div class="col-xl-12">
                    @Html.TextBox("DatalistIncome", null, new { @class = "form-control text-center", placeholder = "Income (try 1050)" })
                    <br />
                </div>
                <div class="col-xl-9">
                    @Html.Datalist("Datalist", new PeopleDatalist { AdditionalFilters = new List<String> { "DatalistIncome" } })
                </div>
                <div class="col-xl-3 text-center">
                    <button id="DatalistButton" class="btn btn-secondary">Select single</button>
                </div>
            </div>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
        </div>
        <div class="widget-content">
<pre>
<code>@@Html.TextBox(<span class="str">"Income"</span>)


@@Html.DatalistFor(model => model.Id, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span>())</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-12">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Javascript</span>
        </div>
        <div class="widget-content">
<pre>
<code>document.querySelector(<span class="str">'button'</span>).addEventListener(<span class="str">'click'</span>, <span class="kwd">function</span> () {
    <span class="kwd">var</span> triggerChanges = <span class="kwd">true</span>;

    <span class="kwd">new</span> <span class="cls">MvcDatalist</span>(document.getElementById(<span class="str">'Id'</span>)).selectSingle(triggerChanges);
});</code>
</pre>
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Controller</span>
        </div>
        <div class="widget-content">
<pre>
<code><span class="kwd">public class</span> <span class="cls">HomeController</span> : <span class="cls">Controller</span>
{
    <span class="kwd">private</span> <span class="cls">DbContext</span> Context { <span class="kwd">get</span>; }

    <span class="kwd">public</span> HomeController(<span class="cls">DbContext</span> context)
    {
        Context = context;
    }

    [<span class="cls">HttpGet</span>]
    <span class="kwd">public</span> <span class="cls">ActionResult</span> Index()
    {
        <span class="kwd">return</span> View();
    }

    [<span class="cls">HttpGet</span>]
    <span class="kwd">public</span> <span class="cls">JsonResult</span> AllPeople(<span class="cls">DatalistFilter</span> filter, <span class="cls">Int32</span>? income)
    {
        filter.AdditionalFilters[<span class="str">"Income"</span>] = income;

        <span class="kwd">return</span> Json(<span class="kwd">new</span> <span class="cls">PeopleDatalist</span>(Context) { Filter = filter }.GetData());
    }
}</code>
</pre>
        </div>
    </div>
    <div class="widget code col-xl-6">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>Datalist</span>
        </div>
        <div class="widget-content">
<pre>
<code><span class="kwd">public class</span> <span class="cls">PeopleDatalist</span> : <span class="cls">MvcDatalist</span>&lt;<span class="cls">Person</span>&gt;
{
    <span class="kwd">private</span> <span class="cls">DbContext</span> Context { <span class="kwd">get</span>; }

    <span class="kwd">public</span> PeopleDatalist(<span class="cls">DbContext</span> context)
    {
        Context = context;
    }
    <span class="kwd">public</span> PeopleDatalist()
    {
        Url = <span class="str">"AllPeople"</span>;
        AdditionalFilters.Add(<span class="str">"Income"</span>);
    }

    <span class="kwd">public override</span> <span class="cls">IQueryable</span>&lt;<span class="cls">Person</span>&gt; GetModels()
    {
        <span class="kwd">return</span> Context.Set&lt;<span class="cls">Person</span>&gt;();
    }
}</code>
</pre>
        </div>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById('DatalistButton').addEventListener('click', function () {
            new MvcDatalist(document.getElementById('Datalist')).selectSingle();
        });
    </script>
}
