@{
    ViewBag.Title = "Javascript.select";
}

<div class="panel panel-default">
    <div class="panel-heading">select</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Triggered then value is selected via autocomplete, datalist or is loaded at page.</pre>
        <strong>Parameters</strong>
        <pre><strong>event</strong> - original event for selecting a value.
<strong>element</strong> - datalist autocomplete input for which value was selected.
<strong>hiddenElement</strong> - datalist's hidden input on which datalist was created.
<strong>data</strong> - data object, keeping all selected row data.</pre>
        <strong>Examples</strong>
        <pre>
$(<span class="str">'.datalist-input'</span>).datalist({
    select: <span class="kwrd">function</span> (e, element, hiddenElement, data) {
        <span class="kwrd">if</span> (data) {
            e.preventDefault();
            element.value = <span class="str">"My own value"</span>;
            hiddenElement.value = data.DatalistIdKey;
        } <span class="kwrd">else</span> { <span class="com">// autocomplete is cleared, clearing values</span>
            hiddenElement.value = <span class="kwrd">null</span>;
            element.value = <span class="kwrd">null</span>;
        }
    }
});</pre>
        @Html.Datalist("Select1", null, new DatalistDataDatalist())
    </div>
    @section scripts {
        <script>
            $('.datalist-input').datalist({
                select: function (event, element, hiddenElement, data) {
                    if (data) {
                        event.preventDefault();
                        element.value = "My own value";
                        hiddenElement.value = data.DatalistIdKey;
                    } else { // autocomplete is cleared, clearing values
                        hiddenElement.value = null;
                        element.value = null;
                    }
                }
            });
        </script>
    }
</div>