* {
    text-decoration: none !important;
    outline: none !important;
}

body {
    font-family: "klavika-web", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif !important;
    position: relative;
    padding-top: 60px;
}

.panel-properties {
    padding-left: 40px;
}

h3, h5 {
    line-height: 20px;
    font-weight: 700;
    color: #666;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 30px;
}

.panel-heading {
    font-weight: bold;
}

pre {
    padding-left: 20px;
    margin: 5px 15px;
}

.panel-body .autocomplete-group,
.panel-body .input-group {
    margin: 5px 15px;
}

.separator {
    min-height: 20px;
    clear: both;
}

.esc, .kwrd, .str, .cls {
    font-family: Consolas, "Courier New", Courier, Monospace;
    font-size: small;
}

.esc {
    background-color: #FFFF00;
}

.kwrd {
    color: #0000FF;
}

.str {
    color: #E86E6E;
}

.cls {
    color: #4EB1BA;
}

.com {
    color: #6A9C53;
}

.nuget-install,
.html-code {
    margin-left: 15px;
}
.nuget-install code {
    background-color: #E2E2E2;
    border: 4px solid #C0C0C0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #6E6E6E;
    color: #202020;
    display: block;
    overflow: auto;
    padding: 15px;
}

.html-code code {
    background-color: #FFFFFF;
    border: 4px solid #C0C0C0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #6E6E6E;
    display: block;
    overflow: auto;
    padding: 15px;
}

td .text-cell {
    text-align: left;
}

.datalist-table thead > tr > th {
    vertical-align: middle;
    text-align: center;
}