@{
    ViewBag.Title = "GenericDatalist.AddAutocomplete()";
}

<div class="panel panel-default">
    <div class="panel-heading">AddAutocomplete()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Adds an autocomplete value for current data row.</pre>
        <strong>Remarks</strong>
        <pre>Adds dictionary entry with key equal to <a href="/Datalist/API/AbstractDatalist/AcKey">AcKey</a> and value from current model's property which is equal to <a href="/Datalist/API/GenericDatalist/Columns">Columns</a> first key.</pre>
    </div>
</div>