@{
    ViewBag.Title = "GenericDatalist.AddColumns()";
}

<div class="panel panel-default">
    <div class="panel-heading">AddColumns()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Adds all column values for current data row.</pre>
        <strong>Remarks</strong>
        <pre>Adds dictionary entries with keys from <a href="/Datalist/API/GenericDatalist/Columns">Columns</a> ant values from model's properties named as column key.</pre>
        <strong>Examples</strong>
        <pre><strong>Columns keys:</strong> { <span class="str">"FirstName"</span>, <span class="str">"Account.LoginName"</span> }

Executed code is similar to:
row.Add(<span class="str">"FirstName"</span>, model.FirstName != <span class="kwrd">null</span> ? model.FirstName.ToString() : <span class="cls">String</span>.Empty);
row.Add(<span class="str">"Account.LoginName"</span>, model.Account != <span class="kwrd">null</span> &amp;&amp; model.Account.LoginName != <span class="kwrd">null</span> ? model.Account.LoginName.ToString() : <span class="cls">String</span>.Empty);

<span class="kwrd">public class</span> <span class="cls">UserModel</span>
{
    <span class="kwrd">public</span> <span class="cls">String</span> Id { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> FirstName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> LastName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>(4, Format = <span class="str">"{0:d}"</span>)]
    <span class="kwrd">public</span> <span class="cls">DateTime</span> DateOfBirth { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>(Relation = <span class="str">"LoginName"</span>)]
    <span class="kwrd">public</span> <span class="cls">AccountModel</span> Account { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }
}

<span class="kwrd">public class</span> <span class="cls">AccountModel</span>
{
    <span class="kwrd">public</span> <span class="cls">String</span> Id { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<span class="cls">Display</span>(Name = <span class="str">"Login name"</span>)]
    <span class="kwrd">public</span> <span class="cls">String</span> LoginName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }
}
        </pre>
    </div>
</div>