@{
    ViewBag.Title = "GenericDatalist.AdditionalFilters";
}

<div class="panel panel-default">
    <div class="panel-heading">AdditionalFilters</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies any additional filters for datalist.</pre>
        <strong>Defaults</strong>
        <pre>Empty list</pre>
        <strong>Remarks</strong>
        <pre>Additional filters list, specifies html input ids which should be passed to a datalist ajax call.
Default implementation filters AdditionalFilters by using == operator.
<span class="kwrd">null</span> values are not considered as valid filter values and by default are not filtered.</pre>
        <strong>Examples</strong>
        <pre>
<strong>AdditionalFilters:</strong> Empty list

Datalist data will be filtered in default manner by only using search term and pagination.</pre>
        @Html.Datalist("AdditionalFilters1", null, new DefaultDatalist())
        <div class="separator"></div>
        <pre>
<strong>AdditionalFilters:</strong> <span class="str">"AdditionalFilterId"</span>

Datalist data will be filtered in default manner by using search term, pagination and $(<span class="str">'#AdditionalFilterId'</span>).val() value.
If default filtering implementation is used, it's crucial to set filter's key to a property name which exists in filtered model.
As shown in bolded code, we are using <span class="str">"AdditionalFilterId"</span>, but in our model filtered property name is <span class="str">"Id"</span>.

<span class="kwrd">public</span> ExampleDatalist()
{
    AdditionalFilters.Add(<span class="str">"AdditionalFilterId"</span>);
}
<span class="kwrd">public</span> <span class="cls">JsonResult</span> Example(<span class="cls">DatalistFilter</span> filter, <span class="cls">String</span> AdditionalFilterId)
{
    <span class="kwrd">var</span> additionalFilters = <span class="kwrd">new</span> Dictionary&lt;<span class="cls">String</span>, <span class="cls">Object</span>&gt;();
    <strong>additionalFilters.Add(<span class="str">"Id"</span>, AdditionalFilterId);</strong>

    <span class="kwrd">return</span> GetData(<span class="kwrd">new</span> <span class="cls">ExampleDatalist</span>(), filter, additionalFilters);
}
</pre>
        <div class="input-group">
            <span class="input-group-addon">UserModel id</span>
            @Html.TextBox("AdditionalFilterId", 1, new { @class = "form-control" })
        </div>
        @Html.Datalist("AdditionalFilters2", null, new ExampleDatalist())
    </div>
</div>