@{
    ViewBag.Title = "GenericDatalist.AddId()";
}

<div class="panel panel-default">
    <div class="panel-heading">AddId()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Adds an id value for current data row.</pre>
        <strong>Remarks</strong>
        <pre>Adds dictionary entry with key equal to <a href="/Datalist/API/AbstractDatalist/IdKey">IdKey</a> and value from current model's <span class="str">"Id"</span> property.</pre>
    </div>
</div>