@{
    ViewBag.Title = "GenericDatalist.AttributedProperties";
}

<div class="panel panel-default">
    <div class="panel-heading">AttributedProperties</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Contains datalist model's properties which are decorated with <a href="/Datalist/API/DatalistColumnAttribute">DatalistColumnAttribute</a> and sorted by <a href="/Datalist/API/DatalistColumnAttribute/Position">Position</a> in ascending order.</pre>
    </div>
</div>