@{
    ViewBag.Title = "GenericDatalist.DefaultSortColumn";
}

<div class="panel panel-default">
    <div class="panel-heading">DefaultSortColumn</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies default datalist column to be sorted, unless explicit sorting is specified.</pre>
        <strong>Defaults</strong>
        <pre><span class="kwrd">null</span></pre>
        <strong>Remarks</strong>
        <pre>Default sort column will be used on next datalist data table load, unless user sort column explicitly.
If this property is left <span class="kwrd">null</span> or it is not one of <a href="/Datalist/GenericDatalist/Columns">Columns</a> keys, data will be sorted by first column from <a href="/DatalistProperties/Columns">Columns</a> list.
If it is specified it will be used for sorting autocomplete records too.</pre>
        <strong>Examples</strong>
        <pre>
<strong>Columns:</strong> { <span class="str">"FirstName"</span>, <span class="str">"FirstName"</span> }, { <span class="str">"LastName"</span>, <span class="str">"LastName"</span> }, { <span class="str">"DateOfBirth"</span>, <span class="str">"DateOfBirth"</span> }, { <span class="str">"Account.LoginName"</span>, <span class="str">"Login name"</span> }
<strong>DefaultSortColumn:</strong> <span class="kwrd">null</span>

Datalist data will be sorted by first column.</pre>
        @Html.Datalist("DefaultSortColumn1", null, new DefaultDatalist())
        <div class="separator"></div>
        <pre>
<strong>Columns:</strong> { <span class="str">"FirstName"</span>, <span class="str">"FirstName"</span> }, { <span class="str">"LastName"</span>, <span class="str">"LastName"</span> }
<strong>DefaultSortColumn:</strong> <span class="str">"LastName"</span>

Datalist data will be sorted by <span class="str">"LastName"</span> column.

<span class="kwrd">public</span> ExampleDatalist()
{
    DefaultSortColumn = <span class="str">"LastName"</span>;
    DefaultSortOrder = <a href="/Datalist/API/DatalistSortOrder">DatalistSortOrder</a>.<a href="/Datalist/DatalistSortOrder/Desc">Desc</a>;
}
</pre>
        @Html.Datalist("DefaultSortColumn2", null, new ExampleDatalist())
    </div>
</div>