@{
    ViewBag.Title = "GenericDatalist.FilterById()";
}

<div class="panel panel-default">
    <div class="panel-heading">FilterById()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Filters a single model by id specified in <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a>.<a href="/Datalist/API/DatalistFilter/Id">Id</a>.</pre>
        <strong>Remarks</strong>
        <pre>This method filters models by Id property which is equal to the one specified in <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a>.<a href="/Datalist/API/DatalistFilter/Id">Id</a>.
<a href="/Datalist/API/GenericDatalist">GenericDatalist</a> implementation will call this method from <a href="/Datalist/API/GenericDatalist/GetData">GetData()</a> method only then <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a>.<a href="/Datalist/API/DatalistFilter/Id">Id</a> is not <span class="kwrd">null</span>.
This method should be overriden then datalist model's id property name is not <span class="str">"Id"</span>, dynamic query performance is considered to be too slow
or type safety is preferred.</pre>
    </div>
</div>