@{
    ViewBag.Title = "GenericDatalist.GetColumnKey()";
}

<div class="panel panel-default">
    <div class="panel-heading">GetColumnKey()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Get's an unique key for a property.</pre>
        <strong>Remarks</strong>
        <pre>This method is used for getting unique keys for datalist model properties, which later will be used as <a href="/Datalist/API/GenericDatalist/Columns">Columns</a> keys.
Return value is equal to property name + every <a href="/Datalist/API/DatalistColumnAttribute/Relation">Relation</a> property name separated by a dot.</pre>
        <strong>Examples</strong>
        <pre>
GetColumnKey(<span class="kwrd">typeof</span>(<span class="cls">UserModel</span>).GetProperty(<span class="str">"FirstName"</span>)) will be equal to <span class="str">"FirstName"</span>
GetColumnKey(<span class="kwrd">typeof</span>(<span class="cls">UserModel</span>).GetProperty(<span class="str">"Account"</span>)) will be equal to <span class="str">"Account.LoginName"</span>

<span class="kwrd">public class</span> <span class="cls">UserModel</span>
{
    <span class="kwrd">public</span> <span class="cls">String</span> Id { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> FirstName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> LastName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>(4, Format = <span class="str">"{0:d}"</span>)]
    <span class="kwrd">public</span> <span class="cls">DateTime</span> DateOfBirth { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>(Relation = <span class="str">"LoginName"</span>)]
    <span class="kwrd">public</span> <span class="cls">AccountModel</span> Account { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }
}

<span class="kwrd">public class</span> <span class="cls">AccountModel</span>
{
    <span class="kwrd">public</span> <span class="cls">String</span> Id { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<span class="cls">Display</span>(Name = <span class="str">"Login name"</span>)]
    <span class="kwrd">public</span> <span class="cls">String</span> LoginName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }
}
        </pre>
    </div>
</div>