@{
    ViewBag.Title = "GenericDatalist.GetData()";
}

<div class="panel panel-default">
    <div class="panel-heading">GetData()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Creates instance of <a href="/Datalist/API/DatalistData">DatalistData</a> filled with filtered and sorted data for datalist.</pre>
        <strong>Remarks</strong>
        <pre>This method gets all models from <a href="/Datalist/API/GenericDatalist/GetModels">GetModels()</a>.
Filters them by applying <a href="/Datalist/API/GenericDatalist/FilterById">FilterById()</a>, <a href="/Datalist/API/GenericDatalist/FilterByAdditionalFilters">FilterByAdditionalFilters()</a> and <a href="/Datalist/API/GenericDatalist/FilterBySearchTerm">FilterBySearchTerm()</a> methods.
Then sorts them with <a href="/Datalist/API/GenericDatalist/Sort">Sort()</a> method.
And return the result of <a href="/Datalist/API/GenericDatalist/FormDatalistData">FormDatalistData()</a> method by passing filtered and sorted models to it.</pre>
    </div>
</div>