@{
    ViewBag.Title = "GenericDatalist.GetModels()";
}

<div class="panel panel-default">
    <div class="panel-heading">GetModels()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Returns queryable for all datalist models.</pre>
        <strong>Remarks</strong>
        <pre>It is left for implementation by concrete datalist classes.</pre>
    </div>
</div>