@{
    ViewBag.Title = "GenericDatalist.Prefix";
}

<div class="panel panel-default">
    <div class="panel-heading">Prefix</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies default datalist prefix for it's component naming.</pre>
        <strong>Defaults</strong>
        <pre><span class="str">"Datalist"</span></pre>
        <strong>Remarks</strong>
        <pre>This prefix is used for giving id values for datalist's autocomplete input's and forming datalist url.</pre>
        <strong>Examples</strong>
        <pre><strong>HiddenInputId:</strong> Default1
<strong>DatalistInputId:</strong> <strong>Datalist</strong>Default1</pre>
        @Html.Datalist("Default1", null, new DefaultDatalist())
        <div class="separator"></div>
        <pre><strong>DatalistUrl:</strong> <a href="#">http://non-factors.com/<strong>Datalist</strong>/Default</a></pre>
        @Html.Datalist("Default2", null, new DefaultDatalist())
    </div>
</div>