@{
    ViewBag.Title = "GenericDatalist.Sort()";
}

<div class="panel panel-default">
    <div class="panel-heading">Sort()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Sorts models using sorting data from <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a>.</pre>
        <strong>Remarks</strong>
        <pre><a href="/Datalist/API/GenericDatalist">GenericDatalist</a> implementation will always call this method from <a href="/Datalist/API/GenericDatalist/GetData">GetData()</a> method.
Models always has to be sorted in order linq queryable paging to work.
Models will be sorted using <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a>.<a href="/Datalist/API/DatalistFilter/SortOrder">SortOrder</a> by <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a>.<a href="/Datalist/API/DatalistFilter/SortColumn">SortColumn</a> if it is not <span class="kwrd">null</span> and is one of <a href="/Datalist/API/GenericDatalist">GenericDatalist</a>.<a href="/Datalist/API/GenericDatalist/Columns">Columns</a> keys.
Or by <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>.<a href="/Datalist/API/AbstractDatalist/DefaultSortOrder">DefaultSortOrder</a> if is is not <span class="kwrd">null</span> and is one of <a href="/Datalist/API/GenericDatalist">GenericDatalist</a>.<a href="/Datalist/API/GenericDatalist/Columns">Columns</a> keys.
Or if everything above fails, it will be sorted by first column from <a href="/Datalist/API/GenericDatalist">GenericDatalist</a>.<a href="/Datalist/API/GenericDatalist/Columns">Columns</a> keys.</pre>
    </div>
</div>