@{
    ViewBag.Title = "DatalistColumn.Header";
}

<div class="panel panel-default">
    <div class="panel-heading">Header</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies column header value.</pre>
        <strong>Defaults</strong>
        <pre><span class="kwrd">null</span></pre>
        <strong>Remarks</strong>
        <pre>Default <a href="/Datalist/API/GenericDatalist">GenericDatalist</a> implementation sets header value to first property name or last property relation name if it has <a href="/Datalist/API/DatalistColumnAttribute/Relation">Relations</a>,
unless <a href="http://msdn.microsoft.com/en-us/library/system.componentmodel.dataannotations.displayattribute(v=vs.110).aspx">DisplayAttribute</a> is specified for property.</pre>
        <strong>Examples</strong>
        <pre>
Datalist will have two visible columns with headers <span class="str">"First name"</span>, <span class="str">"Last name"</span>.
Which will map to datalist model properties named <span class="str">"FirstName"</span>, <span class="str">"LastName"</span>.

<span class="kwrd">public</span> ExampleDatalist()
{
    Columns.Clear();
    Columns.Add(<span class="kwrd">new</span> <a href="/Datalist/API/DatalistColumn">DatalistColumn</a>(<span class="str">"FirstName"</span>, <span class="str">"First name"</span>));
    Columns.Add(<span class="kwrd">new</span> <a href="/Datalist/API/DatalistColumn">DatalistColumn</a>(<span class="str">"LastName"</span>, <span class="str">"Last name"</span>));
}

<span class="kwrd">public class</span> <span class="cls">UserModel</span>
{
    <span class="kwrd">public</span> <span class="cls">String</span> Id { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> FirstName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> LastName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }
}
        </pre>
        @Html.Datalist("Header1", null, new ExampleDatalist())
    </div>
</div>