@{
    ViewBag.Title = "DatalistColumn.Key";
}

<div class="panel panel-default">
    <div class="panel-heading">Key</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies column key.</pre>
        <strong>Defaults</strong>
        <pre><span class="kwrd">null</span></pre>
        <strong>Remarks</strong>
        <pre>For default datalist's implementation to work correctly, column key should always map to existing model properties.</pre>
        <strong>Examples</strong>
        <pre>
Datalist will have two visible columns with headers <span class="str">"First name"</span>, <span class="str">"Last name"</span>.
Which will map to datalist model properties named <span class="str">"FirstName"</span>, <span class="str">"LastName"</span>.

<span class="kwrd">public</span> ExampleDatalist()
{
    Columns.Clear();
    Columns.Add(<span class="kwrd">new</span> <a href="/Datalist/API/DatalistColumn">DatalistColumn</a>(<span class="str">"FirstName"</span>, <span class="str">"First name"</span>));
    Columns.Add(<span class="kwrd">new</span> <a href="/Datalist/API/DatalistColumn">DatalistColumn</a>(<span class="str">"LastName"</span>, <span class="str">"Last name"</span>));
}

<span class="kwrd">public class</span> <span class="cls">UserModel</span>
{
    <span class="kwrd">public</span> <span class="cls">String</span> Id { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> FirstName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }

    [<a href="/Datalist/API/DatalistColumnAttribute">DatalistColumn</a>]
    <span class="kwrd">public</span> <span class="cls">String</span> LastName { <span class="kwrd">get</span>; <span class="kwrd">set</span>; }
}
        </pre>
        @Html.Datalist("Key1", null, new ExampleDatalist())
    </div>
</div>