@{
    ViewBag.Title = "DatalistSortOrder.Desc";
}

<div class="panel panel-default">
    <div class="panel-heading">Desc</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Represents descending datalist data column ordering.</pre>
    </div>
</div>