@{
    ViewBag.Title = "AbstractDatalist.AcKey";
}

<div class="panel panel-default">
    <div class="panel-heading">AcKey</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies datalist's autocomplete key.</pre>
        <strong>Defaults</strong>
        <pre><span class="str">"DatalistAcKey"</span></pre>
        <strong>Remarks</strong>
        <pre>This key is used to identify which key from datalist's data dictionary row is considered as autocomplete value.</pre>
    </div>
</div>