@{
    ViewBag.Title = "AbstractDatalist.CurrentFilter";
}

<div class="panel panel-default">
    <div class="panel-heading">CurrentFilter</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Instance for keeping current filtering and sorting data for datalist query.</pre>
        <strong>Defaults</strong>
        <pre>Page: 0
Id: <span class="kwrd">null</span>
SearchTerm: <span class="kwrd">null</span>
SortOrder: <a href="/Datalist/API/AbstractDatalist/DefaultSortOrder">DefaultSortOrder</a>
SortColumn: <a href="/Datalist/API/AbstractDatalist/DefaultSortColumn">DefaultSortColumn</a>
AdditionalFilters: Empty list
RecordsPerPage: <a href="/Datalist/API/AbstractDatalist/DefaultRecordsPerPage">DefaultRecordsPerPage</a></pre>
        <strong>Remarks</strong>
        <pre>Every datalist ajax call will have it's CurrentFilter parameter filled with user specified filtering and sorting data.</pre>
        <strong>Examples</strong>
        <pre>
<strong>CurrentFilter:</strong> User specified values

Datalist data will be filtered and sorted by user specified values if they are not specified defaults will be used.</pre>
        @Html.Datalist("CurrentFilter1", null, new DefaultDatalist())
    </div>
</div>