@{
    ViewBag.Title = "AbstractDatalist.DatalistUrl";
}

<div class="panel panel-default">
    <div class="panel-heading">DatalistUrl</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies datalist's data source url.</pre>
        <strong>Defaults</strong>
        <pre>
<span class="cls">String</span> sanitizedName = GetType().Name.Replace(<a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>.<a href="/Datalist/GenericDatalist/Prefix">Prefix</a>, <span class="cls">String</span>.Empty);
DatalistUrl = <span class="cls">String</span>.Format(<span class="str">"{0}://{1}{2}{3}/{4}"</span>,
    <span class="cls">HttpContext</span>.Current.Request.Url.Scheme,
    <span class="cls">HttpContext</span>.Current.Request.Url.Authority,
    <span class="cls">HttpContext</span>.Current.Request.ApplicationPath ?? <span class="str">"/"</span>,
    <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>.<a href="/Datalist/GenericDatalist/Prefix">Prefix</a>,
    sanitizedName)</pre>
        <strong>Remarks</strong>
        <pre>Specified url will be used for datalist ajax call.</pre>
        <strong>Examples</strong>
        <pre>
<strong>Implementing type:</strong> DefaultDatalist
<strong>DatalistUrl:</strong> <a href="#">http://non-factors.com/Datalist/Default</a>

Ajax call will be called for <a href="#">http://non-factors.com/Datalist/Default</a></pre>
        @Html.Datalist("DatalistUrlExample1", null, new DefaultDatalist())
        <div class="separator"></div>
        <pre>
<strong>Implementing type:</strong> ExampleDatalist
<strong>DatalistUrl:</strong> <a href="#">http://non-factors.com/Datalist/DifferentUrlExample</a>

Ajax call will be called for <a href="#">http://non-factors.com/Datalist/DifferentUrlExample</a>

<span class="kwrd">public</span> ExampleDatalist()
{
    DatalistUrl = <span class="cls">String</span>.Format(<span class="str">"{0}://{1}{2}{3}/{4}"</span>,
        <span class="cls">HttpContext</span>.Current.Request.Url.Scheme,
        <span class="cls">HttpContext</span>.Current.Request.Url.Authority,
        <span class="cls">HttpContext</span>.Current.Request.ApplicationPath ?? <span class="str">"/"</span>,
        <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>.<a href="/Datalist/GenericDatalist/Prefix">Prefix</a>,
        <span class="str">"DifferentUrlExample"</span>);
}
</pre>
        @Html.Datalist("DatalistUrlExample2", null, new ExampleDatalist())
    </div>
</div>