@{
    ViewBag.Title = "AbstractDatalist.DefaultSortOrder";
}

<div class="panel panel-default">
    <div class="panel-heading">DefaultSortOrder</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies default datalist column sort order, unless explicit sorting order is specified.</pre>
        <strong>Defaults</strong>
        <pre><a href="/Datalist/API/DatalistSortOrder">DatalistSortOrder</a>.<a href="/Datalist/DatalistSortOrder/Asc">Asc</a></pre>
        <strong>Remarks</strong>
        <pre>Default sort order should be used on next datalist data table load, unless user sort column explicitly.</pre>
        <strong>Examples</strong>
        <pre>
<strong>Columns:</strong> { <span class="str">"FirstName"</span>, <span class="str">"FirstName"</span> }, { <span class="str">"LastName"</span>, <span class="str">"LastName"</span> }, { <span class="str">"DateOfBirth"</span>, <span class="str">"DateOfBirth"</span> }, { <span class="str">"Account.LoginName"</span>, <span class="str">"Login name"</span> }
<strong>DefaultSortOrder:</strong> <a href="/Datalist/API/DatalistSortOrder">DatalistSortOrder</a>.<a href="/Datalist/DatalistSortOrder/Asc">Asc</a>

On first load, data should be sorted by first column in Ascending order.</pre>
        @Html.Datalist("DefaultSortOrder1", null, new DefaultDatalist())
        <div class="separator"></div>
        <pre>
<strong>Columns:</strong> { <span class="str">"FirstName"</span>, <span class="str">"FirstName"</span> }, { <span class="str">"LastName"</span>, <span class="str">"LastName"</span> }, { <span class="str">"DateOfBirth"</span>, <span class="str">"DateOfBirth"</span> }, { <span class="str">"Account.LoginName"</span>, <span class="str">"Login name"</span> }
<strong>DefaultSortOrder:</strong> <a href="/Datalist/API/DatalistSortOrder">DatalistSortOrder</a>.<a href="/Datalist/DatalistSortOrder/Desc">Desc</a>

On first load, data should be sorted by <span class="str">"LastName"</span> column in <a href="/Datalist/DatalistSortOrder/Desc">Descending</a> order.

<span class="kwrd">public</span> ExampleDatalist()
{
    DefaultSortColumn = <span class="str">"LastName"</span>;
    DefaultSortOrder = <a href="/Datalist/API/DatalistSortOrder">DatalistSortOrder</a>.<a href="/Datalist/DatalistSortOrder/Desc">Desc</a>;
}
</pre>
        @Html.Datalist("DefaultSortColumn2", null, new ExampleDatalist())
    </div>
</div>