@{
    ViewBag.Title = "AbstractDatalist.DefaultRecordsPerPage";
}

<div class="panel panel-default">
    <div class="panel-heading">DefaultRecordsPerPage</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies default datalist's records per page property.</pre>
        <strong>Defaults</strong>
        <pre>20</pre>
        <strong>Remarks</strong>
        <pre>This property have range from 1 to 99 inclusive.
Autocomplete will always have length of 20 and is not afffected by this proeprty.</pre>
        <strong>Examples</strong>
        <pre>Default value will be 20.</pre>
        @Html.Datalist("DefaultRecordsPerPage1", null, new DefaultDatalist())
        <div class="separator"></div>
        <pre>Default value will be 5.

<span class="kwrd">public</span> ExampleDatalist()
{
    DefaultRecordsPerPage = 5;
}</pre>
        @Html.Datalist("DefaultRecordsPerPage1", null, new ExampleDatalist())
    </div>
</div>