@{
    ViewBag.Title = "AbstractDatalist.GetData()";
}

<div class="panel panel-default">
    <div class="panel-heading">GetData()</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Method for getting instance of <a href="/Datalist/API/DatalistData">DatalistData</a> filled with filtered and sorted data for datalist.</pre>
        <strong>Remarks</strong>
        <pre><a href="/Datalist/API/DatalistData">DatalistData</a> should always be filled using datalist's <a href="/Datalist/API/AbstractDatalist/CurrentFilter">CurrentFilter</a> property.</pre>
    </div>
</div>