@{
    ViewBag.Title = "AbstractDatalist.IdKey";
}

<div class="panel panel-default">
    <div class="panel-heading">IdKey</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies datalist's id column key.</pre>
        <strong>Defaults</strong>
        <pre><span class="str">"DatalistIdKey"</span></pre>
        <strong>Remarks</strong>
        <pre>This key is used to identify which key from datalist's data dictionary row is considered as id value.</pre>
    </div>
</div>