@{
    ViewBag.Title = "AbstractDatalist.Prefix";
}

<div class="panel panel-default">
    <div class="panel-heading">Prefix</div>
    <div class="panel-body">
        <strong>Description</strong>
        <pre>Specifies default datalist prefix for it's component naming.</pre>
        <strong>Defaults</strong>
        <pre><span class="str">"Datalist"</span></pre>
        <strong>Remarks</strong>
        <pre>This prefix is left for use in compontent naming implementation.</pre>
    </div>
</div>