* {
    text-decoration: none !important;
    outline: none !important;
}

body {
    background: url(../../Images/background.jpg);
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 30px 30px;
}

.content {
    padding-top: 10px;
}

.content-block {
    background: rgba(255, 255, 255, 0.8);
    color: #666666;
}

.logo {
    text-align: center;
}

    .logo a {
        margin-left: 0.5em;
        font-size: 84px;
        color: #FFFFFF;
    }

    .logo .version {
        font-family: 'Open Sans', sans-serif;
        vertical-align: bottom;
        margin-left: -20px;
        font-size: 14px;
        line-height: 2;
    }

.sidebar-search {
    position: relative;
}

    .sidebar-search input {
        background: rgba(255, 255, 255, 0.2);
        border-style: none;
        text-align: center;
        color: #000000;
        padding: 7px;
        width: 100%;
    }

.sidebar {
    margin: 20px 0;
}

    .sidebar ul {
        font-weight: bold;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .sidebar ul a {
            padding: 5px 12px;
            color: #777777;
            display: block;
        }

            .sidebar ul a:hover {
                background: rgba(255, 255, 255, 0.9);
                color: #448FBA;
            }

    .sidebar li + li {
        border-top: 1px solid #B8B8B8;
    }

.widget-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding: 10px 12px;
    color: #FFFFFF;
    font-size: 18px;
}

.widget-buttons {
    float: right;
}

    .widget-buttons i {
        display: inline-block;
        cursor: pointer;
        padding: 0 5px;
    }

        .widget-buttons i:hover {
            color: #DDDDDD;
        }

    .widget-buttons .content-toggle {
        font-family: 'FontAwesome';
        font-style: normal;
    }

        .widget-buttons .content-toggle:before {
            content: "\f078";
        }

        .widget-buttons .content-toggle.open:before {
            content: "\f077";
        }

.widget-content {
    padding: 10px;
}

.centered-content {
    text-align: center;
    min-width: 100%;
}

.docs,
.example {
    margin-top: 20px;
}

    .docs .widget-header {
        background: rgba(54, 52, 52, 0.67);
    }

.output .widget-header {
    background: rgba(145, 203, 222, 0.85);
}

.example .widget-header {
    background: rgba(64, 145, 215, 0.69);
}

.example-code {
    margin-top: 20px;
}

    .example-code .widget-header {
        background: rgba(94, 186, 103, 0.75);
    }

p {
    margin: 10px 0;
}

pre {
    background: #FFFFFF;
    margin: 0;
}

    pre code .com {
        color: #118411;
    }

    pre code .cls {
        color: #2AADBA;
    }

    pre code .kwd {
        color: #084DFF;
    }

    pre code .str {
        color: #CC6500;
    }

.datalist-dialog thead > tr > th {
    vertical-align: middle;
    text-align: center;
}
