body {
    background: url(../../Images/background.jpg);
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 14px;
}

.logo {
    text-align: center;
}

    .logo a {
        margin-left: 0.5em;
        font-size: 84px;
        color: #ffffff;
    }

    .logo .version {
        font-family: 'Open Sans', sans-serif;
        vertical-align: bottom;
        margin-left: -20px;
        font-size: 14px;
        line-height: 2;
    }

.install-note {
    background: rgba(204, 255, 201, 0.35);
}

.sidebar-search {
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    border-style: none;
    text-align: center;
    color: #000000;
    padding: 7px;
    width: 100%;
}

.sidebar ul {
    background: rgba(255, 255, 255, 0.93);
    font-weight: bold;
    list-style: none;
    padding: 0;
}

    .sidebar ul a {
        padding: 5px 12px;
        color: #777777;
        display: block;
    }

        .sidebar ul a:hover,
        .sidebar ul a:focus {
            background: #ffffff;
            color: #448fba;
        }

.sidebar li + li {
    border-top: 1px solid #b8b8b8;
}

.widget {
    margin-top: 20px;
}

.widget-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    align-items: center;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 16px;
    display: flex;
}

    .widget-header > span {
        padding-left: 10px;
        flex: 1;
    }

.widget-content {
    background: rgba(255, 255, 255, 0.93);
    padding: 10px;
}

.docs pre {
    padding: 7px 10px;
}

.docs .row {
    margin-bottom: 10px;
}

.docs .widget-header {
    background: #62bd6b;
}

.example .widget-header {
    background: #8c86d7;
}

.example .widget-content {
    background: #ffffff;
}

.code .widget-header {
    background: #479ae2;
}

p {
    margin: 10px 0;
}

pre {
    border: 1px solid #e2e2e2;
    background: #ffffff;
    padding: 9px 15px;
    margin: 0;
}

    pre .com {
        font-weight: bold;
        color: #15a915;
    }

    pre .cls {
        color: #2aadba;
    }

    pre .kwd {
        color: #084dff;
    }

    pre .str {
        color: #cc6500;
    }

.datalist-browser:focus,
.datalist-focus .datalist-control {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #80bdff;
    outline: none;
}

.datalist-browser:active {
    border-color: #ced4da;
    box-shadow: none;
}
