@{
    ViewBag.Title = "Datalist: API";
}

<div class="panel panel-default">
    <div class="panel-heading">API</div>
    <div class="panel-body">
        <strong>Classes</strong>
        <ul>
            <li>
                <a href="/Datalist/API/DatalistData">DatalistData</a>
            </li>
            <li>
                <a href="/Datalist/API/DatalistFilter">DatalistFilter</a>
            </li>
            <li>
                <a href="/Datalist/API/DatalistColumn">DatalistColumn</a>
            </li>
            <li>
                <a href="/Datalist/API/GenericDatalist">GenericDatalist</a>
            </li>
            <li>
                <a href="/Datalist/API/AbstractDatalist">AbstractDatalist</a>
            </li>
            <li>
                <a href="/Datalist/API/DatalistAttribute">DatalistAttribute</a>
            </li>
            <li>
                <a href="/Datalist/API/DatalistColumns">DatalistColumns</a>
            </li>
            <li>
                <a href="/Datalist/API/DatalistSortOrder">DatalistSortOrder</a>
            </li>
            <li>
                <a href="/Datalist/API/DatalistExtensions">DatalistExtensions</a>
            </li>
            <li>
                <a href="/Datalist/API/DatalistColumnAttribute">DatalistColumnAttribute</a>
            </li>
        </ul>
        <strong>Javascript events</strong>
        <ul>
            <li>
                <a href="/Datalist/API/Javascript/Select">select</a>
            </li>
            <li>
                <a href="/Datalist/API/Javascript/FilterChange">filterChange</a>
            </li>
        </ul>
    </div>
</div>