@model Person
@{
    ViewBag.Title = "Datalist multi selection";
}

<div class="row">
    <div class="widget example col">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Multi autocomplete</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
            @Html.AutoComplete("MultiAutocomplete", new PeopleDatalist { Multi = true })
        </div>
    </div>
    <div class="widget example col">
        <div class="widget-header">
            <div class="fa fa-bars"></div>
            <span>Multi datalist</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
            @Html.Datalist("MultiDatalist", new PeopleDatalist { Multi = true })
        </div>
    </div>
</div>

<div class="row">
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
@@Html.AutoCompleteFor(model => model.Ids, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span> { Multi = <span class="kwd">true</span> })
</code>
</pre>
        </div>
    </div>
    <div class="widget code col">
        <div class="widget-header">
            <div class="fa fa-code"></div>
            <span>View</span>
            <div class="widget-buttons">
                <span class="fa fa-minus content-toggle"></span>
            </div>
        </div>
        <div class="widget-content">
<pre>
<code>
@@Html.DatalistFor(model => model.Ids, <span class="kwd">new</span> <span class="cls">PeopleDatalist</span> { Multi = <span class="kwd">true</span> })
</code>
</pre>
        </div>
    </div>
</div>
