@{
    ViewBag.Title = "Tests";
}

<div class="panel panel-default">
    <div class="panel-heading">Javascript tests page</div>
    <div class="panel-body">
        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
        <div id="test-data" style="display: block">
            @Html.Hidden("Filter1")
            @Html.Hidden("Filter2")
            @Html.Datalist("Test", null, new DefaultDatalist())
        </div>
    </div>
</div>
