<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Datalist/datalist.css" rel="stylesheet" />
    <link href="~/Content/qunit-1.15.0.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
</head>

<body>
    <a href="https://github.com/NonFactors/MVC.Datalist">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1040;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
    </a>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Datalist</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li><a href="/Datalist/Installation">Installation</a></li>
                    <li><a href="/Datalist/Examples">Examples</a></li>
                    <li><a href="/Datalist/API">API</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        @Html.Partial("_Datalist")
    </div>
    <script src="~/Scripts/jquery-2.1.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.2.js"></script>
    <script src="~/Scripts/Datalist/datalist.js"></script>
    @if (ViewContext.RouteData.Values["controller"].ToString() == "Datalist" && ViewContext.RouteData.Values["action"].ToString() == "Tests")
    {
        <script src="/Scripts/qunit-1.15.0.js"></script>
        <script src="/Scripts/Datalist/tests.js"></script>
    }

    @RenderSection("scripts", false)
</body>
</html>